*{
    margin: 0;
    padding: 0;
}

body { /* Central elementos verticalmente*/
    width: 300px; 
    margin: auto;
}

.bandera-argentinaH , .bandera-colombiaH ,  .bandera-mexicoV , .bandera-franciaV , .bandera-boliviaH , .bandera-costa-marfil {
    margin: 10px;
    padding: 0;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    
    
}

.celeste1 {
    width: auto;
    height: 66px;
    background-color: aqua;
}

.blanco {
    width: auto;
    height: 66px;
    background-color: antiquewhite;
}

.celeste2 {
    width: auto;
    height: 66px;
    background-color: aqua;
}

.amarillo {
    width: auto;
    height: 66px;
    background-color: yellow
}

.azul {
    width: auto;
    height: 66px;
    background-color: blue
}

.rojo {
    width: auto;
    height: 66px;
    background-color: red
    
}

.verdeV {
    margin-right: 200px;
    width: 100px;
    height: 200px;
    background-color: green;
}

.blancoV {
    margin-left: 100px;
    margin-top: -200px;
    width: 100px;
    height: 200px;
    background-color: wheat
}

.rojoV {
    margin-left: 200px; /*mover el elemento al medio*/
    margin-top: -200px; /*subo la caja para arriba */
    width: 100px;
    height: 200px;
    background-color:red
}

.azulV {
    margin-right: 200px;
    width: 100px;
    height: 200px;
    background-color: blue;
}

.verde {
    width: auto;
    height: 66px;
    background-color: green
}

.naranja {
    width: auto;
    height: 66px;
    background-color:orangered
}
