*{
    margin: 0;
    padding: 0; 
    font-family: "Roboto", sans-serif ;
    
}

body{
    background-color: rgb(233, 233, 233);
}

section{
    
    width: 300px;
    height: 220px;
    margin: 0 auto;
    padding: 40px;
    border: 2px transparent gray;
    background-color: white;
    border-radius: 2%;
    box-shadow: 1px 2px 5px 3px #aaa;
}    

.icono{
    margin-bottom: 10px;
    font-size: 30px;
}

h1 {
    margin-bottom: 10px;
    color: rgb(77, 77, 170);
    font-size: large;
}

.texto {
    margin-bottom: 10px;
    color: rgb(77, 77, 170);
    font-size: medium;
}

.log {
    margin-top: 10px;
    color: rgb(77, 77, 170);
    font-size: medium;
}

span {
    color: rgb(0, 217, 255);
}

div {
    margin-top: 20px;
    padding-top: 10px;
    width: 90px;
    height: 25px;
    background: linear-gradient( 60deg, rgb(3, 162, 255), rgba(25, 43, 122, 0.897)) ;
    /* background -color: ; */
    font-size: small;
    color: white;
    text-align: center;
    /*vertical-align: middle --posicionar sign up en el centro sobre eje y/verticalmente*/
    box-shadow: 1px 2px 5px 3px #aaa;
    border-radius: 5px;
}

a{
    text-decoration: none;
    /* color: white; */
}
