* {
    margin: 0;
    padding: 0;
        
}

body {
    background-color: rgb(228, 227, 227);
    font-family: "Montserrat" , sans-serif;
}

.caja-principal {
    background-color: rgb(255, 255, 255);
    width: 720px;
    height: 1000px;
    margin: 0 auto;
    padding: 40px;
} 

header {
    font-size: 36px;
    font-weight: 900;
    padding-top: 40px;
    padding-left: 40px;
}

nav {
    font-size: 18px;
    padding: 40px;

}

.todos {
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 10px;
}

.hoy ,
.manana {
    padding: 10px;
}

section {
    padding-left: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgba(220, 220, 220, 0.554);
}

.cancelado {
    padding-right: 20px;

}

span {
}

h1 ,
p {
padding-top: 20px;
}



a {
    text-decoration: none;
}

.ver {
    margin-top: 20px;
}